<div class="modal fade show d-block bg-dark bg-opacity-75" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog bg-dark">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Caption</h4>
                <button type="button" class="btn-close" aria-label="Close" @onclick="@Cancel"></button>
            </div>
            <div class="modal-body">
                <input class="form-control bg-light text-dark" type="text" @bind="@Value1" @oninput="@((e) => { OnInput(e, 1); })" />
                <input class="form-control bg-light text-dark" type="text" @bind="@Value2" @oninput="@((e) => { OnInput(e, 2); })" />
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-primary"
                @onclick=@Ok>
                    Save
                </button>
                <button type="button" class="btn btn-secondary"
                @onclick="@Cancel">
                    Don't Save
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string? Caption { get; set; }
    [Parameter] public string? Value1 { get; set; }
    [Parameter] public string? Value2 { get; set; }
    [Parameter] public EventCallback<string> OnClose { get; set; }

    private string mergedValue = "";

    private Task Cancel()
    {
        return OnClose.InvokeAsync("");
    }

    private Task Ok()
    {
        return OnClose.InvokeAsync(mergedValue);
    }

    private void OnInput(ChangeEventArgs e, int inputIndex)
    {
        if (inputIndex == 1)
        {
            mergedValue = e.Value?.ToString() + Value2;
        }
        else if (inputIndex == 2)
        {
            mergedValue = Value1 + e.Value?.ToString();
        }
    }
}
